<%- layout("./layouts/boilerplate.ejs") %>

    <body>
        <div class="row">
            <div class="alert alert-danger d-flex align-items-center col-md-8 m-auto mt-2 p-3 justify-content-center align-items-center"
                role="alert">
                <i class="fa-solid fa-triangle-exclamation me-2" style="font-size: 1.5rem;"></i>
                <p class="alert-heading m-0 fw-bold">
                    <%= err.message %>
                </p>
            </div>
        </div>
    </body>