* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--primary-color: #fefff7;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
}

.container {
	padding: 1.5rem;
	flex-grow: 1;
}

.navbar-collapse {
	background-color: var(--primary-color);
}

input,
textarea {
	border-radius: 0.3rem;
	border: 1px solid grey;
	outline: 0;
}

.navbar {
	height: 4rem;
	background-color: var(--primary-color) !important;
}

.fa-compass {
	color: #fe424d;
	font-size: 2rem;
}

.nav-link {
	color: #222 !important;
	font-weight: 500;
}

.f-info-links a {
	text-decoration: none;
	color: #222;
}

.f-info-links a:hover {
	text-decoration: underline;
	color: black;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
	width: 100%;
}

.f-info-socials i {
	font-size: 1.2rem;
	margin-right: 1rem;
}

.f-info {
	display: flex;
	text-align: center;
	height: 7rem;
	background-color: #ebebeb;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-evenly;
	padding: 0.5rem;
}

.listing-card {
	border: none;
	padding: 0;
	background-color: var(--primary-color);
	margin-bottom: 1rem;
}

.card-body {
	padding: 4px;
}

.card-text {
	font-size: 1rem;
	font-weight: 500;
}

.card-img-top {
	width: 100%;
	object-fit: cover;
	height: 300px !important;
}

.card-img-overlay {
	opacity: 0;
	background-color: white;
	transition: all 0.1s;
}

.card-img-overlay:hover {
	opacity: 0.2;
}

.show-img {
	height: 30svh;
}

.rating-stars {
	color: rgb(244, 244, 43);
	filter: drop-shadow(0 0px 1px black);
	user-select: none;
	/* margin-bottom: 0.3rem;
	margin-top: -0.5rem; */
	font-size: 0.8rem;
	width: fit-content;
	white-space: nowrap;
}

.delete-review {
	width: 3rem;
	font-size: 0.8rem;
	height: 1.5rem;
	padding: 0;
	display: block;
	margin: 0.65rem;
	margin-top: 0.3rem;
	position: absolute;
	right: 0;
	bottom: 0;
}

.review-card .card-text {
	margin: 0.3rem 0;
}

.review-card .card-text::-webkit-scrollbar {
	width: 3px;
}

.review-card .card-text::-webkit-scrollbar-track {
	background: #e4e4e4;
	border-radius: 10px;
}

.review-card .card-text::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #bdbdbd;
}

.review-card .card-text {
	max-height: 115px;
	padding-right: 4px;
	overflow: auto;
}

.review-card .card-body {
	padding-bottom: 2.3rem;
}

.flash {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
}

@media (max-width: 576px) {
	.flash {
		margin: 0 !important;
	}
}
