* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #fefff7;
}

body {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.container {
	flex-grow: 1;
	padding: 1.5rem;
}

.navbar-collapse {
	background-color: var(--primary-color);
	position: absolute;
	top: 4rem;
	width: 100%;
}

input,
textarea {
	border-radius: 0.3rem;
	border: 1px solid grey;
	outline: 0;
}

.navbar {
	background-color: var(--primary-color) !important;
	height: 4rem;
}

.navbar-nav {
	justify-content: center;
}

.fa-compass {
	color: #fe424d;
	font-size: 2.4rem;
	margin: 0 0.5rem;
}

.left-nav {
	align-items: center;
	display: flex;
	justify-content: center;
}

.nav-link {
	color: #222 !important;
	font-weight: 500;
	padding: 0.4rem 1rem;
}

.navbar-collapse .nav-link:last-of-type {
	border-bottom: 1px solid rgb(199, 199, 199);
}

.navbar-collapse .nav-link {
	border-bottom: 1px solid rgb(245, 245, 245);
}

@media (max-width: 768px) {
	.left-nav .navbar-nav {
		display: none;
	}
}

@media (min-width: 768px) {
	.navbar-collapse .navbar-nav {
		display: none;
	}
}

.f-info-links a {
	color: #222;
	text-decoration: none;
}

.f-info-links a:hover {
	color: black;
	text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
	width: 100%;
}

.f-info-socials i {
	font-size: 1.2rem;
	margin-right: 1rem;
}

.f-info {
	align-content: space-evenly;
	align-items: center;
	background-color: #ebebeb;
	display: flex;
	flex-wrap: wrap;
	height: 7rem;
	justify-content: center;
	padding: 0.5rem;
	text-align: center;
}

.listing-card {
	background-color: var(--primary-color);
	border: none;
	margin-bottom: 1rem;
	padding: 0;
}

.card-body {
	padding: 4px;
}

.card-text {
	font-size: 1rem;
	font-weight: 500;
}

.card-img-top {
	height: 300px !important;
	object-fit: cover;
	width: 100%;
}

.card-img-overlay {
	background-color: white;
	opacity: 0;
	transition: all 0.1s;
}

.card-img-overlay:hover {
	opacity: 0.2;
}

.show-img {
	height: 30svh;
}

.starability-result {
	margin-left: -1.65rem;
}

.delete-review {
	display: block;
	font-size: 0.8rem;
	height: 1.5rem;
	margin-left: auto;
	margin-top: 0.4rem;
	margin: 0.6rem 0;
	padding: 0;
	width: 3rem;
}

.review-card {
	flex-grow: 1;
}

.review-card .card-text {
	margin-bottom: 0.5rem;
	margin: 0.3rem 0;
}

.review-card .card-text::-webkit-scrollbar {
	width: 3px;
}

.review-card .card-text::-webkit-scrollbar-track {
	background: #e4e4e4;
	border-radius: 10px;
}

.review-card .card-text::-webkit-scrollbar-thumb {
	background: #bdbdbd;
	border-radius: 10px;
}

.review-card .card-text {
	max-height: 115px;
	overflow: auto;
	padding-right: 4px;
}

.review-card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flash {
	bottom: 0;
	position: fixed;
	right: 0;
	z-index: 100;
}

@media (max-width: 576px) {
	.flash {
		margin: 0 !important;
	}
}

.login .form-control.is-valid,
.login .was-validated .form-control:valid {
	background-image: none;
	border: 1px solid rgb(229, 229, 229);
}

.login-signup-a {
	bottom: 2rem;
	color: rgb(121, 121, 121);
	position: absolute;
	right: 3rem;
}

.login-signup-a:hover {
	color: rgb(61, 61, 61);
	text-decoration: underline grey !important;
}

.acc {
	border-radius: 1.5rem;
	border: 1px solid rgb(217, 217, 217);
	cursor: pointer;
	padding-left: 0.8rem;
	padding: 0.35rem 0.5rem;
	transition: 0.1s;
	vertical-align: middle;
}

.acc .icons {
	align-items: center;
	display: flex;
	gap: 0.5rem;
}

.acc:hover {
	box-shadow: 0 1px 2px 2px rgb(195, 195, 195);
}

.acc:has(> .options:hover) {
	box-shadow: none;
}

.acc .user-icon {
	font-size: 1.8rem;
}

.acc .user-bars {
	display: inline-block;
	font-size: 1.1rem;
}

.acc .options {
	background-color: rgb(253, 253, 244);
	border-radius: 0.8rem;
	border: 1px solid rgb(102, 102, 102);
	font-size: 1rem;
	position: absolute;
	right: 0.8rem;
	top: 3.6rem;
	width: 8rem;
	z-index: 2;
}

.acc .options * {
	border-bottom: 1px solid rgb(199, 199, 199);
	display: inline-block;
	font-weight: 500;
	margin: 0;
	padding: 0.35rem 0.7rem;
	text-decoration: none;
	width: 100%;
}

.acc .options p {
	text-align: center;
	cursor: auto !important;
	user-select: none;
}

.acc .options a:last-of-type {
	border: 0;
}

.acc .options a {
	color: rgb(149, 149, 149);
}

.acc .options a:hover {
	color: rgb(94, 94, 94);
}

#map {
	/* position: absolute; */
	/* bottom: 0; */
	height: 20rem;
	width: 100%;
}
